* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}
 
.cabecalho{
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 40px;
    border-bottom: 2px solid black;
}
 
.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 200px;
    flex-wrap: wrap;
}
 
.texto {
    max-width: 500px;
}
 
.texto h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}
 
.texto p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
 
.saibamais {
    padding: 12px 24px;
    background-color: #e74c3c;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 
.comprar {
    padding: 12px 24px;
    background-color: #e74c3c;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
 
.saibamais:hover {
    background-color: #922d21;
}
 
.comprar:hover {
    background-color: #922d21;
}
 
.image img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
 
.rodape{
    background-color: #236794;
    padding-bottom: 41px;
    border-top: 2px solid black;
}
.rodape p{
    color: white;
    text-align: center;
    padding-top: 41px;
}
 
@media (max-width: 768px) {
    .conteudo {
        flex-direction: column;
        align-items: center;
    }
    .texto h2 {
        font-size: 1.8rem;
    }
    .texto p {
        font-size: 1rem;
    }
    .saibamais {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}
